.techs{
   padding-top: 100px;
    white-space: nowrap;    
}

.techs-slide{
    animation: 13s slide infinite linear;
    display: inline-block;
}
.techs-slide img{
    height: 20px;
    margin: 0 60px;

}
.techs:hover .techs-slide{
    animation-play-state: paused;
}
.techs:before,
.techs:after
{
    position: absolute;
    top: 280%;
    width: 150px;
    height: 15%;
    content: "";
    z-index: 2;
}
.techs::before{
    left: 0;
    background: linear-gradient(to left,rgba(255,255,255,0), white);
}
.techs::after{
    right: 0;
    background: linear-gradient(to right,rgba(255,255,255,0), white);
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* xs */

.page5{
    padding-top: 100px;
    height: 200vh;
    padding-right: 5vw;
    width: 100%;
    overflow: hidden;

}
.page5 a{
    text-decoration: none;
    color: black;
}
.elem{
    width: 95%;
    border-top: 1px solid black;
    padding: 3vw 3vw;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 0;
    justify-content: space-between;
    transition: all ease 0.2s;
}
.elem h1{
    font-size: 1.6vw;
    font-weight: 600;
    transition: all ease 0.3s;
}
.elem-last{
    border-bottom: 1px solid black;
}
.elem:hover{
   color: gray;
}
.elem:hover h1{
    opacity: 0.7;
    margin-left: 6px;
}
.elem h5{
    font-size: 1vw;
}
.elem img{
    height: 120%;
    position: absolute;
    z-index: 999;
    opacity: 0;
}
.work__title {
    font-size: 3vw;
    letter-spacing: 2px;
    padding-bottom: 5%;
    text-align: center;

}
@media screen and (max-width: 767px){
    .page5{
        height: 150vh;
    }
    .work__title{
        font-size: 5vw;
    }
    .elem{
        padding: 6vw 3vw;
    }
    .elem h1{
        font-size: 3vw;
    }
    .elem h5{
        font-size: 2vw;
    }
    .elem img{
        height: 140%;
    }
    
}